body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;

    font-family: 'Segoe UI';
}

.header {
    width: 100%;
    height: 50px;
    background-color: #26abd7;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    margin: 5px;
    font-size: 24px;
    color: white;
}

.header .nav {
    margin: 5px;
}

.header .nav .nav-list {
    list-style: none;
    display: flex;
}

.header .nav .nav-list .nav-item a {
    margin: 5px;
    text-decoration: none;
    color: white;
}

.main {
    flex: 1;
}

.container {
    margin-left: 5%;
    margin-right: 5%;
}

.form-holder {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-body {
    margin-top: 10px;
    height: 400px;
    width: 300px;
    border: 1px solid black;
}

.form-header {
    width: 100%;
    height: 30px;
    background-color: #26abd7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #116784;
}

.form-header .text {
    color: white;
    padding: 5px;
    font-size: 18px;
}

.footer {
    width: 100%;
    height: 40px;
    color: white;
    background-color: #151515;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group {
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.form-input[type=text] {
    height: 25px;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 16px;
    padding-left: 5px;
}

select.form-input {
    height: 25px;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 16px;
    padding-left: 5px;
}

button.confirm {
    height: 35px;
    background-color: #26abd7;
    border: 0;
    border-radius: 3px;
    font-size: 16px;
    padding-left: 5px;
}

button.confirm:hover {
    background-color: #8ad1e9;
    font-weight: bold;
}